.profile_pic {
  width: 20%;
  min-width: 140px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
  margin: clamp(20px, 8vh, 20px) auto 0;
}
.status {
  background: #ede6ff;
  padding: 12px;
  margin: 20px 0;
  border: 2px solid var(--primary_color);
  box-shadow: inset 0 0 0 2px #ffffff;
  line-height: 1rem;
  box-shadow: 6px 6px 0 #2c1c5f;
}

.profile p {
  font-size: 0.6rem;
  padding: 0 1.2rem;
  text-align: left;
  margin: 0.5rem auto 0;
}

.profile h3 span {
  color: var(--primary_color);
}

.seeker .button__icon {
  width: 40px;
  height: 50px;
  image-rendering: pixelated;
  margin-right: 0.3rem;
}
.seeker a {
  font-size: 0.9rem;
  padding-right: 2.5rem;
}

.client .button__icon {
  width: 45px;
  height: 55px;
  image-rendering: pixelated;
  margin-right: 0.5rem;
}

.client a {
  font-size: 0.9rem;
  padding: 1rem;
}
.dev .button__icon {
  width: 50px;
  height: 60px;
  image-rendering: pixelated;
  margin-right: 0.3rem;
  margin-top: 0.4rem;
}

.dev a {
  font-size: 0.9rem;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .seeker .button__icon {
    width: 40px;
    height: 50px;
    image-rendering: pixelated;
  }
}
